<nav class="navbar navbar-light">
  <img src="/assets/img/logo.png"  class="brand-img" alt="">
  <a class="navbar-brand brand" href="/">DocStash</a>
  <form class="form-inline pull-xs-center">
    <div class="form-group search">
        <i class="fa fa-search search-icon"></i>
        <input type="text" class="form-control search-input" />
      </div>
  </form>
  <div class="avatar">
    <img class="avatar-image" src="/assets/img/avatar-1.svg" alt="">
    <a href="#" class="avatar-dropdown"><i class="fa fa-angle-down avatar-drop" aria-hidden="true"></i></a>
    <div class="avatar-content">
      <div class="avatar-sub">
        <ul>
          <li><a href="#">SETTING</a></li>
          <li><a href="#">LOGOUT</a></li>
        </ul>
      </div>
    </div>
  </div>
</nav>
