<nav class="navbar navbar-light">
  <img src="/assets/img/logo.png"  class="brand-img" alt="">
  <a class="navbar-brand brand" href="/">DocStash</a>
  <form class="form-inline pull-xs-center">
    <div class="form-group search">
      <img src="/assets/icon/search.svg" class="search-icon" alt="">
        <input type="text" class="form-control search-input" />
      </div>
  </form>
  <div class="avatar">
          <img class="avatar-image" src="/assets/img/avatar-1.svg" alt=""/>
          <!-- <i class="arrow-down avatar-drop" aria-hidden="true" /> -->
          <ul class="dropdowns">
            <li><a href="#">Setting</a></li>
            <li><a href="/signout">Logout</a></li>
          </ul>
  </div>
</nav>

<div class="col-sm-12">
  <div class="side-nav" >
    <div id="menuToggle">

      <input type="checkbox" />


      <span></span>
      <span></span>
      <span></span>

      <ul id="menu">

        <p class="sidebar-text">MAIN MENU</p>
        <ul class="nav nav-sidebar sidebar-ul">
          <li class="sidebar-li"><i class="active flaticon-folder-2"></i><a class="sidebar-a" href="/" class="active">Library</a></li>
          <li class="sidebar-li"><i class="flaticon-square"></i><a class="sidebar-a" href="recent.html">Recent</a></li>
        </ul>
        <p class="sidebar-text">FILTER BY</p>
        <ul class="nav nav-sidebar sidebar-ul">
          <li class="sidebar-li"><i class="flaticon-interface"></i><a  class="sidebar-a" href="documents.html">Documents</a></li>
          <li class="sidebar-li"><i class="flaticon-multimedia"></i><a  class="sidebar-a"href="videos.html">Videos</a></li>
          <li class="sidebar-li"><i class="flaticon-music"></i><a  class="sidebar-a" href="music.html">Music</a></li>
          <li class="sidebar-li"><i class="flaticon-photo"></i><a class="sidebar-a" href="images.html">Images</a></li>
        </ul>



      </ul>
    </div>
  </div>
</div>
