<div class="homepage">
  <nav class="navbar navbar-light">
    <img src="/assets/img/logo.svg"  class="brand-img" alt="">
    <a class="navbar-brand " href="/">DocStash</a>

    <div class="pull-xs-right">
      <a href=""><button class="hp-btn">LOGIN</button></a>
    </div>
  </nav>

<div class="row">
  <div class="col-sm-12">
    <h1>Secure Cloud Storage</h1>
    <p>Register now and start using our service.</p>
    <a href=""><button class="signup-btn">SIGN UP</button></a>
    <img class="hp-img" src="/assets/img/main.png" alt="">
  </div>
</div>
</div>
<div class="row">
  <div class="col-sm-12">
    <h2 class="hp-features">Features</h2>
    <div class="row">
      <div class="col-sm-3"></div>
    <div class="col-sm-2">
      <p>Features</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores qui facere, ut sunt veniam cupiditate animi commodi ipsa, voluptatum. Deserunt, recusandae, quasi. Eos officia ullam praesentium voluptate veniam. Provident, necessitatibus?</p>
    </div>
    <div class="col-sm-2">
      <p>Features</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident excepturi porro, ut ipsum maxime aperiam omnis distinctio delectus ducimus quo consequuntur natus inventore impedit necessitatibus quis perferendis odio dicta facere.</p>
    </div>
    <div class="col-sm-2">
      <p>Features</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed amet pariatur repellendus corporis asperiores magnam quaerat minus odio mollitia autem ea fugit vel dignissimos, ipsam maiores aliquam ipsum error placeat.</p>
    </div>
  </div>
  </div>
</div>

<footer>
  <div class="row"></div>
  <img src="/assets/img/logo.svg"  class="brand-img" alt="">
  <a class="navbar-brand " href="/">DocStash</a>
</footer>
