<div class="homepage">
  <nav class="navbar navbar-light">
    <img src="assets/img/logo.svg"  class="brand-img" alt="">
    <a class="navbar-brand " href="/">DocStash</a>

    <div class="pull-xs-right">
      <a href=""><button class="hp-btn">LOGIN</button></a>
    </div>
  </nav>

<div class="row">
  <div class="col-sm-12">
    <h1>Secure Cloud Storage</h1>
    <p>Register now and start using our service.</p>
    <a href=""><button class="signup-btn">SIGN UP</button></a>
    <img class="hp-img" src="assets/img/main.png" alt="">
  </div>
</div>
</div>
<div class="row">
  <div class="col-sm-12">
    <h2 class="hp-features">Features</h2>
    <div class="row">
    <div class="col-sm-4">
      <img class="img-fluid hp-img-f" src="assets/img/home/4.png" alt="">
      <h3 class="hp-head">Pro Version</h3>
      <p class="hp-p">Get more space when needed with pro</p>
    </div>
    <div class="col-sm-4">
      <img class="img-fluid hp-img-f" src="assets/img/home/2.png" alt="">
      <h3 class="hp-head">Cloud Backup</h3>
      <p class="hp-p">Upload from any browser</p>
    </div>
    <div class="col-sm-4">
      <img class="img-fluid hp-img-f" src="assets/img/home/3.png" alt="">
      <h3 class="hp-head">Access Everywhere</h3>
      <p class="hp-p">Move everything to cloud seamlessly</p>
    </div>
  </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <img src="assets/img/home/crypto.png" class="img-fluid hp-img-f" alt="">
    <h2 class="hp-features">Get Top Level Cloud Encryption with DocStash Crypto</h2>
  </div>
</div>

<footer>
    <p class="foot-text">© DocStash 2016 All rights reserved.</p>
</footer>
