<div>
  <div class="homepage"><div class="container">
    <nav class="navbar navbar-light">
      <img src="/assets/img/logo.svg"  class="brand-img" alt="">
      <a class="navbar-brand " href="/">DocStash</a>

      <div class="pull-xs-right">
        <a href=""><button class="hp-btn">LOGIN</button></a>
      </div>
    </nav>

  <div class="row">
    <div class="col-sm-12">
       <img class= src="/assets/img/home/arrow2.png" alt="" />
       <h1>Secure Cloud Storage</h1>
      <!--<p>Register now and start using our service.</p>-->
      <a href=""><button class="signup-btn">SIGN UP</button></a>
      <img class="hp-img" src="/assets/img/home/home-pc.png" alt="">
    </div>
  </div>
  </div>
</div>
  <div class="container">
     <div class="row">
        <div class="col-sm-12 col-lg-3">
           <img src="/assets/img/home/business_clouds.gif" class="hp-img-cloud" alt="" />
        </div>
        <div class="hp-about col-sm-12 col-lg-9 ">
           <h3>some sort of heading</h3>
           <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit,<br>
               sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.<br>
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex <br>
                ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum <br>
                dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, <br>
                sunt in culpa qui officia deserunt mollit anim id est laborum.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit,<br>
                 sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.<br>
                  Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex <br>
                  ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum <br>
                  dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, <br>
                  sunt in culpa qui officia deserunt mollit anim id est laborum.
           </p>

        </div>
     </div>

  </div>
  <hr>
  <div class="container">
     <div class="row">
       <div class="col-sm-12 ">
         <h1 class="hp-features">Features</h1>
         <div class="row ">
            <div class="hp-feature col-sm-4">
              <img class="img-fluid hp-img-f" src="/assets/img/home/ico-03.png" alt="">
              <h3 class="hp-head">Pro Version</h3>
              <p class="hp-p">Get more space when needed with pro</p>
            </div>
            <div class=" hp-feature col-sm-4 ">
              <img class="img-fluid hp-img-f" src="/assets/img/home/ico-02.png" alt="">
              <h3 class="hp-head">Good Design</h3>
              <p class="hp-p">Upload from any browser</p>
            </div>
            <div class="hp-feature col-sm-4">
              <img class="img-fluid hp-img-f" src="/assets/img/home/ico-01.png" alt="">
              <h3 class="hp-head">Well Protected</h3>
              <p class="hp-p">Move everything to cloud seamlessly</p>
            </div>
            <div class="hp-feature col-sm-4">
              <img class="img-fluid hp-img-f" src="/assets/img/home/ico-04.png" alt="">
              <h3 class="hp-head">Access Everywhere</h3>
              <p class="hp-p">Move everything to cloud seamlessly</p>
            </div>
            <div class="hp-feature col-sm-4">
              <img class="img-fluid hp-img-f" src="/assets/img/home/ico-05.png" alt="">
              <h3 class="hp-head">Experts Support System</h3>
              <p class="hp-p">Move everything to cloud seamlessly</p>
            </div>
            <div class="hp-feature col-sm-4">
              <img class="img-fluid hp-img-f" src="/assets/img/home/ico-06.png" alt="">
              <h3 class="hp-head">Affordable</h3>
              <p class="hp-p">Move everything to cloud seamlessly</p>
            </div>
       </div>
    </div>
  </div>
  </div>
  <hr>
  <div class="row">
    <div class=" col-sm-12 ">
      <h2 class="hp-features">Get Top Level Cloud Encryption with DocStash Crypto</h2>
       <div class="encrypt-img">
          <img src="/assets/img/home/crypto.png" class="img-fluid hp-img-f" alt="">
       </div>


    </div>
  </div>

  <div class="footer ">
    <footer class="container">

        <img src="/assets/favicon.png"  alt="">
        <p class="foot-text">© DocStash 2016 All rights reserved.</p>
    </footer>
</div>
</div>
