<div class="col-sm-8 main">
  <div class="breadcrum-div">
    <ol class="breadcrumb">
      <li class="breadcrumb-item ">Library</li>
      <li class="breadcrumb-item active">Documents</li>
      <i class="fa fa-angle-down breadcrum-dropdown" aria-hidden="true"></i>
    </ol>
</div>
<div class="container document">
  <div class="row">
    <div class="col-md-2 col-xs-6 doc-div">
      <div class="image-wrapper">
        <img src="/assets/icon/ppt.svg" class="image img-fluid img-rounded" alt="">
      </div>
      <p class="filename"><i class="flaticon-file flaticon-interface"></i> Document1.ppt</p>
      <p class="filetime">2 hours ago</p>
    </div>
    <div class="col-md-2 col-xs-6 doc-div">
      <div class="image-wrapper">
        <img src="/assets/icon/doc.svg" class="image img-fluid img-rounded" alt="">
      </div>
      <p class="filename"><i class="flaticon-file flaticon-interface"></i> Document1.doc</p>
      <p class="filetime">2 hours ago</p>
    </div>
    <div class="col-md-2 col-xs-6 doc-div">
      <div class="image-wrapper">
        <img src="/assets/icon/pdf.svg" class="image img-fluid img-rounded" alt="">
      </div>
      <p class="filename"><i class="flaticon-file flaticon-interface"></i> Document1.pdf</p>
      <p class="filetime">2 hours ago</p>
    </div>
    <div class="col-md-2 col-xs-6 doc-div">
      <div class="image-wrapper">
        <img src="/assets/icon/exe.svg" class="image img-fluid img-rounded" alt="">
      </div>
      <p class="filename"><i class="flaticon-file flaticon-interface"></i> setup.exe</p>
      <p class="filetime">2 hours ago</p>
    </div>
    <div class="col-md-2 col-xs-6 doc-div">
      <div class="image-wrapper">
        <img src="/assets/icon/iso.svg" class="image img-fluid img-rounded" alt="">
      </div>
      <p class="filename"><i class="flaticon-file flaticon-interface"></i> Game.iso</p>
      <p class="filetime">2 hours ago</p>
    </div>
    <div class="col-md-2 col-xs-6 doc-div">
      <div class="image-wrapper">
        <img src="/assets/icon/html.svg" class="image img-fluid img-rounded" alt="">
      </div>
      <p class="filename"><i class="flaticon-file flaticon-interface"></i> index.html</p>
      <p class="filetime">2 hours ago</p>
    </div>
    <div class="col-md-2 col-xs-6 doc-div">
      <div class="image-wrapper">
        <img src="/assets/icon/css.svg" class="image img-fluid img-rounded" alt="">
      </div>
      <p class="filename"><i class="flaticon-file flaticon-interface"></i> main.css</p>
      <p class="filetime">2 hours ago</p>
    </div>
    <div class="col-md-2 col-xs-6 doc-div">
      <div class="image-wrapper">
        <img src="/assets/icon/js.svg" class="image img-fluid img-rounded" alt="">
      </div>
      <p class="filename"><i class="flaticon-file flaticon-interface"></i> script.js</p>
      <p class="filetime">2 hours ago</p>
    </div>
    <div class="col-md-2 col-xs-6 doc-div">
      <div class="image-wrapper">
        <img src="/assets/icon/zip.svg" class="image img-fluid img-rounded" alt="">
      </div>
      <p class="filename"><i class="flaticon-file flaticon-interface"></i> file.zip</p>
      <p class="filetime">2 hours ago</p>
    </div>
    <div class="col-md-2 col-xs-6 doc-div">
      <div class="image-wrapper">
        <img src="/assets/icon/rtf.svg" class="image img-fluid img-rounded" alt="">
      </div>
      <p class="filename"><i class="flaticon-file flaticon-interface"></i> file.rtf</p>
      <p class="filetime">2 hours ago</p>
    </div>
    <div class="col-md-2 col-xs-6 doc-div">
      <div class="image-wrapper">
        <img src="/assets/icon/xls.svg" class="image img-fluid img-rounded" alt="">
      </div>
      <p class="filename"><i class="flaticon-file flaticon-interface"></i> file.xls</p>
      <p class="filetime">2 hours ago</p>
    </div>
    <div class="col-md-2 col-xs-6 doc-div">
      <div class="image-wrapper">
        <img src="/assets/icon/xml.svg" class="image img-fluid img-rounded" alt="">
      </div>
      <p class="filename"><i class="flaticon-file flaticon-interface"></i> file.xml</p>
      <p class="filetime">2 hours ago</p>
    </div>
    <div class="col-md-2 col-xs-6 doc-div">
      <div class="image-wrapper">
        <img src="/assets/icon/psd.svg" class="image img-fluid img-rounded" alt="">
      </div>
      <p class="filename"><i class="flaticon-file flaticon-interface"></i> photoshop.psd</p>
      <p class="filetime">2 hours ago</p>
    </div>
    <div class="col-md-2 col-xs-6 doc-div">
      <div class="image-wrapper">
        <img src="/assets/icon/csv.svg" class="image img-fluid img-rounded" alt="">
      </div>
      <p class="filename"><i class="flaticon-file flaticon-interface"></i> photoshop.csv</p>
      <p class="filetime">2 hours ago</p>
    </div>


  </div>
</div>
</div>
