<div class="col-sm-8 main">

  <div class="breadcrum-div">
    <ol class="breadcrumb">
      <li class="breadcrumb-item ">Library</li>
      <i class="fa fa-angle-down breadcrum-dropdown" aria-hidden="true"></i>

    </ol>
</div>

  <div class="container-fluid library">
    <h2>Folders</h2>
    <div class="row">


      <div class="col-sm-2 folder-div">
        <a href=""><div class="folder">
          <p class="foldername"><i class="flaticon flaticon-folder"></i>Folder1</p>
        </div></a>
      </div>
      <div class="col-sm-2 folder-div">
        <a href=""><div class="folder">
          <p class="foldername"><i class="flaticon flaticon-folder"></i>Folder1</p>
        </div></a>
      </div>
      <div class="col-sm-2 folder-div">
        <a href=""><div class="folder">
          <p class="foldername"><i class="flaticon flaticon-folder"></i>Folder1</p>
        </div></a>
      </div>
      <div class="col-sm-2 folder-div">
        <a href=""><div class="folder">
          <p class="foldername"><i class="flaticon flaticon-folder"></i>Folder1</p>
        </div></a>
      </div>
      <div class="col-sm-2 folder-div">
        <a href=""><div class="folder">
          <p class="foldername"><i class="flaticon flaticon-folder"></i>Folder1</p>
        </div></a>
      </div>
      <div class="col-sm-2 folder-div">
        <a href=""><div class="folder">
          <p class="foldername"><i class="flaticon flaticon-folder"></i>Folder1</p>
        </div></a>
      </div>
    </div><!-- folder row end -->
    <h2>Files</h2>
    <div class="row">

      <div class="col-sm-2 image-div">
        <div class="image-wrapper">
        <img src="https://unsplash.it/200/300/?random" alt="" class="image img-fluid img-rounded">
        </div>
        <p class="filename"><i class="flaticon-file flaticon-photo"></i> Image1.jpg</p>
        <p class="filetime">2 hours ago</p>
      </div>

      <div class="col-sm-2 image-div">
        <div class="image-wrapper">
        <img src="https://unsplash.it/200/300/?random" alt="" class="image img-fluid img-rounded">
        </div>
        <p class="filename"><i class="flaticon-file flaticon-photo"></i> Image1.jpg</p>
        <p class="filetime">2 hours ago</p>
      </div>

    </div><!-- Files row end -->


  </div><!--container end -->
</div>
