<div class="col-sm-8 main">
  <div class="breadcrum-div">
    <ol class="breadcrumb">
      <li class="breadcrumb-item ">Library</li>
      <li class="breadcrumb-item active">Images</li>
      <i class="fa fa-angle-down breadcrum-dropdown" aria-hidden="true"></i>
    </ol>
</div>

<div class="container-fluid library-images">
  <div class="row">

    <div class="col-md-2 col-xs-6 image-div">
      <div class="image-wrapper">
      <img src="https://unsplash.it/200/300/?random" alt="" class="image img-fluid img-rounded">
      </div>
      <p class="filename"><i class="flaticon-file flaticon-photo"></i> Image1.jpg</p>
      <p class="filetime">2 hours ago</p>
    </div>
    <div class="col-md-2 col-xs-6 image-div">
      <div class="image-wrapper">
      <img src="https://unsplash.it/200/300/?random" alt="" class="image img-fluid img-rounded">
      </div>
      <p class="filename"><i class="flaticon-file flaticon-photo"></i> Image1.jpg</p>
      <p class="filetime">2 hours ago</p>
    </div>
    <div class="col-md-2 col-xs-6 image-div">
      <div class="image-wrapper">
      <img src="https://unsplash.it/200/300/?random" alt="" class="image img-fluid img-rounded">
      </div>
      <p class="filename"><i class="flaticon-file flaticon-photo"></i> Image1.jpg</p>
      <p class="filetime">2 hours ago</p>
    </div>
    <div class="col-md-2 col-xs-6 image-div">
      <div class="image-wrapper">
      <img src="https://unsplash.it/200/300/?random" alt="" class="image img-fluid img-rounded">
      </div>
      <p class="filename"><i class="flaticon-file flaticon-photo"></i> Image1.jpg</p>
      <p class="filetime">2 hours ago</p>
    </div>

    <div class="col-md-2 col-xs-6 image-div">
      <div class="image-wrapper">
      <img src="https://unsplash.it/200/300/?random" alt="" class="image img-fluid img-rounded">
      </div>
      <p class="filename"><i class="flaticon-file flaticon-photo"></i> Image1.jpg</p>
      <p class="filetime">2 hours ago</p>
    </div>
    <div class="col-md-2 col-xs-6 image-div">
      <div class="image-wrapper">
      <img src="https://unsplash.it/200/300/?random" alt="" class="image img-fluid img-rounded">
      </div>
      <p class="filename"><i class="flaticon-file flaticon-photo"></i> Image1.jpg</p>
      <p class="filetime">2 hours ago</p>
    </div>
    <div class="col-md-2 col-xs-6 image-div">
      <div class="image-wrapper">
      <img src="https://unsplash.it/200/300/?random" alt="" class="image img-fluid img-rounded">
      </div>
      <p class="filename"><i class="flaticon-file flaticon-photo"></i> Image1.jpg</p>
      <p class="filetime">2 hours ago</p>
    </div>
    <div class="col-md-2 col-xs-6 image-div">
      <div class="image-wrapper">
      <img src="https://unsplash.it/200/300/?random" alt="" class="image img-fluid img-rounded">
      </div>
      <p class="filename"><i class="flaticon-file flaticon-photo"></i> Image1.jpg</p>
      <p class="filetime">2 hours ago</p>
    </div>


    <div class="col-md-2 col-xs-6 image-div">
      <div class="image-wrapper">
      <img src="https://unsplash.it/200/300/?random" alt="" class="image img-fluid img-rounded">
      </div>
      <p class="filename"><i class="flaticon-file flaticon-photo"></i> Image1.jpg</p>
      <p class="filetime">2 hours ago</p>
    </div>
    <div class="col-md-2 col-xs-6 image-div">
      <div class="image-wrapper">
      <img src="https://unsplash.it/200/300/?random" alt="" class="image img-fluid img-rounded">
      </div>
      <p class="filename"><i class="flaticon-file flaticon-photo"></i> Image1.jpg</p>
      <p class="filetime">2 hours ago</p>
    </div>
    <div class="col-md-2 col-xs-6 image-div">
      <div class="image-wrapper">
      <img src="https://unsplash.it/200/300/?random" alt="" class="image img-fluid img-rounded">
      </div>
      <p class="filename"><i class="flaticon-file flaticon-photo"></i> Image1.jpg</p>
      <p class="filetime">2 hours ago</p>
    </div>
  </div>  <!--  row end -->




</div><!-- container end -->
</div><!-- col-8 end -->
