<div class="col-sm-8 main">
  <div class="breadcrum-div">
    <ol class="breadcrumb">
      <li class="breadcrumb-item ">Library</li>
      <li class="breadcrumb-item active">Music</li>
      <i class="fa fa-angle-down breadcrum-dropdown" aria-hidden="true"></i>
    </ol>
</div>
<div class="container-fluid document">
  <div class="row">
    <div class="col-md-2 col-xs-6 doc-div">
      <div class="image-wrapper">
        <img src="/assets/icon/mp3.svg" class="image img-fluid img-rounded" alt="">
      </div>
      <p class="filename"><i class="flaticon-file flaticon-multimedia"></i> Music.mp3</p>
      <p class="filetime">2 hours ago</p>
    </div>
    <div class="col-md-2 col-xs-6 doc-div">
      <div class="image-wrapper">
        <img src="/assets/icon/mp3.svg" class="image img-fluid img-rounded" alt="">
      </div>
      <p class="filename"><i class="flaticon-file flaticon-multimedia"></i> Video.mp3</p>
      <p class="filetime">2 hours ago</p>
    </div>
    <div class="col-md-2 col-xs-6 doc-div">
      <div class="image-wrapper">
        <img src="/assets/icon/mp3.svg" class="image img-fluid img-rounded" alt="">
      </div>
      <p class="filename"><i class="flaticon-file flaticon-multimedia"></i> Music.mp3</p>
      <p class="filetime">2 hours ago</p>
    </div>
    <div class="col-md-2 col-xs-6 doc-div">
      <div class="image-wrapper">
        <img src="/assets/icon/mp3.svg" class="image img-fluid img-rounded" alt="">
      </div>
      <p class="filename"><i class="flaticon-file flaticon-multimedia"></i> Video.mp3</p>
      <p class="filetime">2 hours ago</p>
    </div>



  </div>
</div>

</div>
