<div class="col-sm-8 main">

  <div class="breadcrum-div">
    <ol class="breadcrumb">
      <li class="breadcrumb-item ">Library</li>
      <i class="fa fa-angle-down breadcrum-dropdown" aria-hidden="true"></i>

    </ol>
</div>

  <div class="container-fluid library">

    <table class="table">
    <thead class="thead-default">
      <tr>
        <th>Name</th>
        <th>Last modified</th>
        <th>File size</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><i class="flaticon flaticon-folder"></i> Folder1</td>
        <td>Jul 24, 2016</td>
        <td>-</td>
      </tr>
      <tr>
        <td><i class="flaticon flaticon-folder"></i> Folder1</td>
        <td>Jul 25, 2016</td>
        <td>-</td>
      </tr>
      <tr>
        <td><img src="assets/icon/ppt.svg" class="list-img img-fluid img-rounded" alt=""> Document1.ppt</td>
        <td>Jul 25, 2016</td>
        <td>2 mb</td>
      </tr>
    </tbody>
  </table>



  </div><!--container end -->
</div>
