<div class="col-sm-8 main">

  <div class="breadcrum-div">
    <ol class="breadcrumb">
      <li class="breadcrumb-item ">Library</li>
      <i class="fa fa-angle-down breadcrum-dropdown" aria-hidden="true"></i>

    </ol>
</div>

  <div class="container-fluid library">
    <h2>Folders</h2>
    <div class="row">


      <div class="col-sm-2 folder-div">
        <a href=""><div class="folder">
          <p class="foldername"><i class="flaticon flaticon-folder"></i>Folder1</p>
        </div></a>
      </div>
      <div class="col-sm-2 folder-div">
        <a href=""><div class="folder">
          <p class="foldername"><i class="flaticon flaticon-folder"></i>Folder1</p>
        </div></a>
      </div>
      <div class="col-sm-2 folder-div">
        <a href=""><div class="folder">
          <p class="foldername"><i class="flaticon flaticon-folder"></i>Folder1</p>
        </div></a>
      </div>
      <div class="col-sm-2 folder-div">
        <a href=""><div class="folder">
          <p class="foldername"><i class="flaticon flaticon-folder"></i>Folder1</p>
        </div></a>
      </div>
      <div class="col-sm-2 folder-div">
        <a href=""><div class="folder">
          <p class="foldername"><i class="flaticon flaticon-folder"></i>Folder1</p>
        </div></a>
      </div>
      <div class="col-sm-2 folder-div">
        <a href=""><div class="folder">
          <p class="foldername"><i class="flaticon flaticon-folder"></i>Folder1</p>
        </div></a>
      </div>
    </div><!-- folder row end -->
    <h2>Files</h2>
    <div class="row">

      <div class="col-sm-2 image-div">
        <div class="image-wrapper">
        <img src="https://unsplash.it/200/300/?random" alt="" class="image img-fluid img-rounded">
        </div>
        <p class="filename"><i class="flaticon-file flaticon-photo"></i> Image1.jpg</p>
        <p class="filetime">2 hours ago</p>
      </div>

      <div class="col-sm-2 image-div">
        <div class="image-wrapper">
        <img src="https://unsplash.it/200/300/?random" alt="" class="image img-fluid img-rounded">
        </div>
        <p class="filename"><i class="flaticon-file flaticon-photo"></i> Image1.jpg</p>
        <p class="filetime">2 hours ago</p>
      </div>

      <div class="col-sm-2 doc-div">
        <div class="image-wrapper">
          <img src="/assets/icon/doc.svg" class="image img-fluid img-rounded" alt="">
        </div>
        <p class="filename"><i class="flaticon-file flaticon-interface"></i> Document1.doc</p>
        <p class="filetime">2 hours ago</p>
      </div>

      <div class="col-sm-2 doc-div">
        <div class="image-wrapper">
          <img src="/assets/icon/pdf.svg" class="image img-fluid img-rounded" alt="">
        </div>
        <p class="filename"><i class="flaticon-file flaticon-interface"></i> Document1.pdf</p>
        <p class="filetime">2 hours ago</p>
      </div>
      <div class="col-sm-2 doc-div">
        <div class="image-wrapper">
          <img src="/assets/icon/avi.svg" class="image img-fluid img-rounded" alt="">
        </div>
        <p class="filename"><i class="flaticon-file flaticon-multimedia"></i> Video.avi</p>
        <p class="filetime">2 hours ago</p>
      </div>
      <div class="col-sm-2 doc-div">
        <div class="image-wrapper">
          <img src="/assets/icon/exe.svg" class="image img-fluid img-rounded" alt="">
        </div>
        <p class="filename"><i class="flaticon-file flaticon-interface"></i> setup.exe</p>
        <p class="filetime">2 hours ago</p>
      </div>
      <div class="col-sm-2 doc-div">
        <div class="image-wrapper">
          <img src="/assets/icon/iso.svg" class="image img-fluid img-rounded" alt="">
        </div>
        <p class="filename"><i class="flaticon-file flaticon-interface"></i> Game.iso</p>
        <p class="filetime">2 hours ago</p>
      </div>
      <div class="col-sm-2 doc-div">
        <div class="image-wrapper">
          <img src="/assets/icon/html.svg" class="image img-fluid img-rounded" alt="">
        </div>
        <p class="filename"><i class="flaticon-file flaticon-interface"></i> index.html</p>
        <p class="filetime">2 hours ago</p>
      </div>
      <div class="col-sm-2 doc-div">
        <div class="image-wrapper">
          <img src="/assets/icon/css.svg" class="image img-fluid img-rounded" alt="">
        </div>
        <p class="filename"><i class="flaticon-file flaticon-interface"></i> main.css</p>
        <p class="filetime">2 hours ago</p>
      </div>

      

    </div><!-- Files row end -->


  </div><!--container end -->
</div>
