<div class="col-sm-2 recent">
  <p  class="recent-heading">RECENT ACTIVITY</p>
  <div class="recent-activity">
      <i class="flaticon flaticon-draw edit"></i>
      <p class="recent-activity-event">You edited the file</p>
      <p class="recent-activity-filename">Image1.jpg</p>
      <p class="rececnt-activity-time">2 hours ago</p>
  </div>

  <div class="recent-activity">
      <i class="flaticon flaticon-file-1 delete"></i>
      <p class="recent-activity-event">You deleted the file</p>
      <p class="recent-activity-filename">Image2.jpg</p>
      <p class="rececnt-activity-time">6 hours ago</p>
  </div>

  <div class="recent-activity">
      <i class="flaticon flaticon-file added"></i>
      <p class="recent-activity-event">You added the file</p>
      <p class="recent-activity-filename">Image3.jpg</p>
      <p class="rececnt-activity-time">8 hours ago</p>
  </div>

</div>
