<div class="col-sm-2 sidebar">
          <ul class="nav nav-sidebar">
            <li class="active"><a href="#">Library <span class="sr-only">(current)</span></a></li>
            <li><a href="#">Favorite</a></li>
            <li><a href="#">Shared</a></li>
            <li><a href="#">Export</a></li>
          </ul>

          <ul class="nav nav-sidebar">
            <li><a href="">Documents</a></li>
            <li><a href="">Videos</a></li>
            <li><a href="">Photos</a></li>
            <li><a href="">Images</a></li>
          </ul>
  </div>
