<div class="col-sm-2 sidebar">
  <p class="sidebar-text">Main menu</p>
  <ul class="nav nav-sidebar">
    <li><i class="active flaticon-folder"></i><a href="#" class="active">Library</a></li>
    <li><i class="flaticon-clock"></i><a href="#">Recent</a></li>
  </ul>
  <p class="sidebar-text">Filter By</p>
  <ul class="nav nav-sidebar">
    <li><i class="flaticon-file"></i><a href="#">Documents</a></li>
    <li><i class="flaticon-video-player"></i><a href="#">Videos</a></li>
    <li><i class="flaticon-music-player"></i><a href="#">Music</a></li>
    <li><i class="flaticon-picture"></i> <a href="#">Images</a></li>
  </ul>
  <div class="usage">
    <p class="usage-use">USAGE</p>
    <progress class="progress" value="50" max="100">5%</progress>
    <p class="usage-capacity"> 5GB / 10GB</p>
  </div>
</div>
