<div class="col-sm-2 sidebar">
  <p class="sidebar-text">MAIN MENU</p>
  <ul class="nav nav-sidebar">
    <li><i class="active flaticon-folder"></i><a href="#" class="active">Library</a></li>
    <li><i class="flaticon-square"></i><a href="recent.html">Recent</a></li>
  </ul>
  <p class="sidebar-text">FILTER BY</p>
  <ul class="nav nav-sidebar">
    <li><i class="flaticon-file"></i><a href="documents.html">Documents</a></li>
    <li><i class="flaticon-multimedia"></i><a href="videos.html">Videos</a></li>
    <li><i class="flaticon-music"></i><a href="music.html">Music</a></li>
    <li><i class="flaticon-photo"></i><a href="images.html">Images</a></li>
  </ul>
  <div class="usage">
    <p class="usage-use">USAGE</p>
    <progress class="progress" value="50" max="100">5%</progress>
    <p class="usage-capacity"> 5GB / 10GB</p>
  </div>
</div>
