<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{{ page.title }}</title>

    <link rel="stylesheet" href="/assets/css/main.css">
    <link rel="stylesheet" type="text/css" href="/assets/icon/flaticon.css">
    <link rel="icon" href="/assets/favicon.png" type="image/png">
  </head>
  <body>
    {{ content }}
    <!-- <script   src="https://code.jquery.com/jquery-2.2.4.min.js"></script> -->
    <script src="/assets/js/min/main.js"></script>
  </body>
</html>
